<!DOCTYPE html>
<html>

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="next-head-count" content="2" />
    <link rel="preload" href="https://register.hdinsurance.com.vn/_next/static/css/2f324d8175ba5e838e1d.css" as="style" />
    <link rel="stylesheet" href="https://register.hdinsurance.com.vn/_next/static/css/2f324d8175ba5e838e1d.css" data-n-g="" />
    <link rel="preload" href="https://register.hdinsurance.com.vn/_next/static/css/84d7ddc8a681d6983b5b.css" as="style" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-10/css/all.css" integrity="sha512-Dj9pt3sZROOuTTs9S89ykGZeu1XQgWKg3DVpu5tZALApsrWdd3tnVjTclUuVONaHM4O8GgCnjSbHlTKXrd2OWg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <noscript data-n-css=""></noscript>
    <title>Đường dẫn không tồn tại</title>

</head>

<body>
    <div id="__next">
        <div class="error_container">
            <nav class="navbar navbar-expand-lg navbar-light-hdi bg-light-hdi">
                <a class="navbar-brand" href="#"><img src="https://register.hdinsurance.com.vn/img/logo-hdi.svg" alt="HDI" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="title-header-placholder"></div>
                    
                </div>
                <div>
                    <div class="bm-overlay" style="position:fixed;z-index:1000;width:100%;height:100%;background:rgba(0, 0, 0, 0.3);opacity:0;-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);transition:opacity 0.3s, transform 0s 0.3s"></div>
                    <div id="" class="bm-menu-wrap" style="position:fixed;right:0;z-index:1100;width:280px;height:100%;-moz-transform:translate3d(100%, 0, 0);-ms-transform:translate3d(100%, 0, 0);-o-transform:translate3d(100%, 0, 0);-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);transition:all 0.5s" aria-hidden="true">
                        <div class="bm-menu" style="height:100%;box-sizing:border-box;overflow:auto">
                            <nav class="bm-item-list" style="height:100%">
                                <div class="bm-item lg-mobile" style="display:block" tabindex="-1">
                                    <div role="group" class="btn-dropdown-lang dropdown btn-group">
                                        <button aria-haspopup="true" aria-expanded="false" type="button" class="dropdown-toggle btn btn-primary"><span style="padding-right:5px"><i class="fas fa-globe-asia"></i>English</span>
                                        </button>
                                    </div>
                                    <div class="btn-close-menu"><i class="fas fa-times"></i>
                                    </div>
                                </div>
                                <a id="home" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="https://register.hdinsurance.com.vn/img/hdsd-ic.svg" />User Manual</a>
                                <a id="about" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="https://register.hdinsurance.com.vn/img/dieukhoan-ic.svg" />Policy</a>
                                <a id="contact" class="bm-item menu-item" href="/" style="display:block" tabindex="-1"><img src="https://register.hdinsurance.com.vn/img/lienhe-ic.svg" />Contact</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </nav>
            <div style="text-align:center" class="error_ctx"><img src="https://register.hdinsurance.com.vn/img/game_end.gif" width="500px" />
                <h4 style="text-align:center;padding-top:30px" class="page-error_title">Xin lỗi!</h4>
                <p>Đường dẫn này không tồn tại hoặc không còn hiệu lực.</p>
                <p>Log ID: #<%= log_id %></p>
                <a class="error_ation-btn" href="https://hdinsurance.com.vn">Trang chủ Bảo Hiểm HD</a>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="logo-bounding"><img src="https://register.hdinsurance.com.vn/img/logo-hdi.svg" alt="HDI" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="footer-h3 mt-20-responsive">Công ty TNHH Bảo hiểm HD</h3>
                                    <p class="m-item"><i class="fa fa-phone" aria-hidden="true"></i><a href="#"> 1900 068 898</a>
                                    </p>
                                    <p class="m-item"><i class="fas fa-envelope"></i><a href="#"> cskh@hdinsurance.com.vn</a>
                                    </p>
                                    <p class="m-item"><i class="fas fa-map-marker-alt"></i>
                                       Tòa nhà Abacus, 58 Nguyễn Đình Chiểu, Quận 1, Tp. Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <h3 class="footer-h3 hide-component">Help</h3>
                                    <ul class="footer-menu hide-component">
                                        <li><a href="/">User Manual</a>
                                        </li>
                                        <li><a href="/">Contact</a>
                                        </li>
                                        <li><a href="/">Policy</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-7">
                                    <h3 class="footer-h3 mt-20-responsive">Nhận thông tin mới nhất</h3>
                                    <div class="input-email-subcriber">
                                        <input type="email" placeholder="Your mail" />
                                        <button class="button-submit">Gửi</button>
                                    </div>
                                    <h3 class="footer-h3 mt-20">Theo dõi chúng tôi</h3>
                                    <div class="social-list"><a href="https://www.facebook.com/CongTyBaoHiemHD/"><i class="fab fa-facebook-f"></i></a><a href="https://twitter.com/BaoHiemHD"><i class="fab fa-twitter"></i></a><a href="https://www.youtube.com/channel/UCWGaAaE8tUp42xmOsDPuYzg"><i class="fab fa-youtube"></i></a><a href="https://www.instagram.com/baohiemhd/"><i class="fab fa-instagram"></i></a><a href="https://www.linkedin.com/company/hd-insurance-company-limited/"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copy-right">
                        <p>Copyright © 2021 all rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

</body>

</html>